.form {
  color: rgb(43, 43, 43);
  height: 35px;
  line-height: 1;
  font-size: clamp(14px, 3vmin, 20px);
}

.formGreen {
  height: 40px;
  line-height: 1;
  font-size: clamp(14px, 3vmin, 20px);
  color: rgb(0, 167, 0);
  font-weight: 600;
}

.formRed {
  height: 40px;
  line-height: 1;
  font-size: clamp(14px, 3vmin, 20px);
  font-weight: 600;
  color: rgb(189, 0, 0);
}

.unitText {
  margin-left: 5px;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: clamp(12px, 2.3vmin, 18px);
  color: rgb(150, 150, 150);
}

.input {
  font-weight: 50;
  width: clamp(60px, 14vmin, 100px);
  font-size: clamp(14px, 3vmin, 18px);
  background-color: transparent;
  border: 1px rgb(231, 231, 231) solid;
  text-align: right;
  padding-right: 3px;
  color: rgb(43, 43, 43);
  transition: 0.2s;
  border-radius: 4px;
}

.input:hover,
.input:focus {
  outline: none;
  border: 1px rgb(168, 168, 168) solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selectArea {
  border: 1px rgb(0, 0, 0) solid;
  font-size: clamp(11px, 3vmin, 20px);
  width: clamp(150px, 40vmin, 300px);
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.4);
  backdrop-filter: blur(8px);
}

.resultData {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 4fr;
  padding: 10px 2px 5px 2px;
  align-items: center;
}
