.wrapper {
  display: inline-block;
  font-family: monospace;
  font-size: clamp(12px, 2.3vmin, 18px);
  font-style: normal;
}

.mainUnit {
  margin-left: 5px;
  display: inline-block;
  color: blue;
  cursor: pointer;
  user-select: none;
}

.dropBox {
  margin-top: 5px;
  position: absolute;
  border: 1px gray solid;
  border-radius: 5px;
  display: block;
  background-color: rgba(209, 209, 209, 0.4);
  z-index: 99;
  backdrop-filter: blur(8px);
}

.dropItem {
  font-family: monospace;
  color: rgb(0, 0, 0);
  cursor: default;
  font-weight: bold;
  padding: 5px 10px;
  margin: 3px 3px;
  text-align: center;
  user-select: none;
}

.dropItem:hover {
  border-radius: 5px;
  background-color: #ffffff;
}
