.wrapper {
  max-width: 800px;
  margin: 5px auto;
  transition: 0.3s;
}

h1 {
  margin-bottom: 20px;
}

.image {
  max-width: 95%;
  min-width: 300px;
}

.initialData {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 4fr;
  padding: 3px 2px 10px 2px;
}

.textItem {
  padding-left: 5px;
}

.form {
  line-height: 1;
  font-size: clamp(14px, 3vmin, 20px);
}

.warningMsg {
  font-size: 20px;
  font-weight: 400;
  color: red;
  transition: 0.3s;
  text-align: center;
}

.label {
  font-size: clamp(14px, 3vmin, 20px);
  margin-bottom: 10px;
}
